/* Navbar.css */
.navbar {
    display: flex;
    position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
    flex-direction: column;
    justify-content: space-between;
    background-color: #ffffff;
    text-align: center;
    padding: 10px 10px;
    color: #333;
    z-index: 8000;
    box-shadow: 1px 1px 0 #BDBDBD;
  }
  
  .navbar-logo {
    display: none;
    color: #333;
   
    text-shadow:  1px 1px 0 #BDBDBD;
    text-decoration: none;
    font-size: 64px;
    font-weight: bold;
  }
  
  .navbar-toggle {
    display: none;
    background: none;
    border: none;
    color: #333;
    font-size: 24px;
    cursor: pointer;
  }
  
  .navbar-links {
    list-style: none;
    display: flex;
    width: 400px;
    margin-right: auto;
    margin-left:  auto;
    gap: 15px;
  }
  
  .nav-link {
    color: #333;
    text-decoration: none;
    padding: 8px 15px;
    transition: background-color 0.3s;
  }
  
  .nav-link:hover {
    color: #fff;

    background-color: #555;
    border-radius: 4px;
  }
  
  /* Responsive Styles */
  @media (max-width: 768px) {
    .navbar {
        flex-direction: row;
        width: 95%;
    }
    .navbar-links {
      display: none;
      flex-direction: column;
      position: absolute;
      width: 95%;
      z-index: 8000;
      top: 49px; /* Adjust based on your navbar height */
      left: 0;
      right: 0;
      background-color: white;

      padding: 10px 0;
      border-radius: 10px;
      border: 1px solid white;
    }
    .navbar-logo {
display: flex;
        font-size: 24px;

      }
      
  
    .navbar-links.active {
      display: flex;
    }
  
    .navbar-toggle {
      display: block;
    }
  }
  