/* Navbar.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 10px;
    position: relative;
    /* border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; */
  }
  
  .navbar-logo {
    color: #fff;
    text-decoration: none;
    font-size: 34px;
    font-weight: bold;
  }
  
  .navbar-toggle {
    display: none;
    background: none;
    border: none;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
  }
  
  .navbar-links {
    list-style: none;
    display: flex;
    gap: 15px;
  }
  
  .nav-link {
    color: #fff;
    text-decoration: none;
    padding: 8px 15px;
    transition: background-color 0.3s;
  }
  
  .nav-link:hover {
    background-color: #555;
    border-radius: 4px;
  }
  
  /* Responsive Styles */
  @media (max-width: 768px) {
    .navbar-links {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 39px; /* Adjust based on your navbar height */
      left: 0;
      right: 0;
      background-color: #333;
      padding: 10px 0;
      border-radius: 10px;
      border: 1px solid white;
    }
    .navbar-logo {

        font-size: 24px;

      }
      
  
    .navbar-links.active {
      display: flex;
    }
  
    .navbar-toggle {
      display: block;
    }
  }
  